<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Creating account</title>
</head>

<body>
    <form action="/create_account" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password1"></p>
    <p>Salasana uudelleen:<br>
    <input type="password" name="password2"></p>
    <input type="submit" value="Luo tunnus">
    </form>
    <br>
    <a href="/">Etusivu</a> |
    <a href="form">Kirjaudu</a>
</body>

</html>