<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ilmoittautuminen</title>
</head>

{% extends "layout.html" %}
  {% block body %}
    <h3>Ilmoittautuminen</h3>
    <form action="/enroll/{{course.id}}" method="POST">
        {% if session.username %}
        {{course.course_name}} <br>
        {{course.event_time}}<br>
        {{course.place}}<br>
        <input type="submit" value="Ilmoittaudu">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <a href="/">Etusivu</a>
    {% else %}
    <a href="form">Kirjaudu</a>
    {% endif %}
    {% endblock %}

</html>
