<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Arvostelut</title>
</head>

<body>
    <h3>Arvostelut: {{course.course_name}}</h3>
    {% for feedback in feedback_list %}
    {{feedback.content}}<hr>
    {% endfor %}
    {% if session.username %}
    <form action="/feedback/{{course.id}}" method="POST">
        Arvostelu: <br>
        <textarea name="content" rows="5" col="50"></textarea>
        <br>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
    <a href="/">Etusivu</a>
</body>

</html>
