<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Etusivu</title>
</head>

<body>
    <h1>Etusivu</h1>
    <p>Tervetuloa sovellukseen!<p>
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    <!--tee linkki omat kurssit-->
    {% else %}
    <a href="create">Luo tunnus</a> |
    <a href="form">Kirjaudu</a>
    {% endif %}
    <p>Kurssi tarjonta:</p>
    <table>
    <tr>
      <th>Kurssi</th>
      <th>Aika</th>
      <th>Paikka</th>
      {% if session.username %}
      <th>Ilmoittautuminen</th>
      {% endif %}
    </tr>
    {% for course in course_list %} 
    <tr>
      <td>{{course.course_name}}</td>
      <td>{{course.event_time}}</td>
      <td>{{course.place}}</td>
      {% if session.username %}
      <td><a href="/enroll/{{course.id}}">Ilmoittaudu</a></td>
      {% endif %}
    </tr>
    {% endfor %} 
    </table>
</body>

</html>
