<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Etusivu</title>
</head>

  {% extends "layout.html" %}
  {% block body %}
    <h1>Etusivu</h1>
    <p>Tervetuloa sovellukseen!<p>
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a> <br>
    <!--tee linkki omat kurssit-->
    <a href="/diary">Omat merkinnät</a>
    {% else %}
    <a href="create">Luo tunnus</a> |
    <a href="form">Kirjaudu</a>
    {% endif %}
    <p>Kurssi tarjonta:</p>
    <table>
    <tr>
      <th>Kurssi</th>
      <th>Aika</th>
      <th>Paikka</th>
      <th>Taso</th>
      {% if session.username %}
      <th>Ilmoittautuminen</th>
      {% endif %}
      <th>Arvostelut</th>
    </tr>
    {% for course in course_list %} 
    <tr>
      <td>{{course.course_name}}</td>
      <td>{{course.event_time}}</td>
      <td>{{course.place}}</td>
      <td>{{course.difficulty}}</td>
      {% if session.username %}      
        {% if course.course_id == None %}
          <td><a href="/enroll/{{course.id}}">Ilmoittaudu</a></td>
        {% else %}
          <td><a href="/unenroll/{{course.id}}">Peru ilmoittautuminen</a></td>
        {% endif %}  
      {% endif %}
      <td><a href="/feedback/{{course.id}}">Arvostelut</a></td>
    </tr>
    {% endfor %} 
    </table>
    {% endblock %}

</html>
