<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Etusivu</title>
</head>

  {% extends "layout.html" %}
  {% block body %}
    <h1>Etusivu</h1>
    <p>Tervetuloa sovellukseen!<p>
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a> <br>
    {% if allow %}
    <p>Sinulla on admin oikeudet</p>
    <a href="/add_course">Lisää kurssi</a> <br>
    {% else %}
    <a href="/">Omat kurssit</a> <br>
    <a href="/diary">Omat merkinnät</a> <br>
    {% endif %}
    {% else %}
    <a href="create">Luo tunnus</a> |
    <a href="form">Kirjaudu</a>
    {% endif %}
    <p>Kurssi tarjonta:</p>
    <form action="/search" method="GET">
      Hae kurssin nimellä: <input type="text" name="course">
      <input type="submit" value="Lähetä">
    </form>
    <br>
    <table>
    <tr>
      <th>Kurssi</th>
      <th>Aika</th>
      <th>Paikka</th>
      <th>Taso</th>
      <th>Paikkamäärä</th>
      {% if session.username %}
      {% if allow %}
      <th>Poista kurssi</th>
      {% else %}
      <th>Ilmoittautuminen</th>
      {% endif %}
      {% endif %}
      <th>Arvostelut</th>
    </tr>
    {% for course in course_list %} 
    <tr>
      <td>{{course.course_name}}</td>
      <td>{{course.event_time}}</td>
      <td>{{course.place}}</td>
      <td>{{course.difficulty}}</td>
      <td>{{course.enroll_count}}/{{course.max_enrollments}}</td>
      {% if session.username %}
      {% if allow %}
      <td><a href="/remove_course/{{course.id}}">poista</a></td>
      {% else %}
        {% if course.course_id == None %}
          <td><a href="/enroll/{{course.id}}">Ilmoittaudu</a></td>
        {% else %}
          <td><a href="/unenroll/{{course.id}}">Peru ilmoittautuminen</a></td>
        {% endif %}
      {% endif %}  
      {% endif %}
      <td><a href="/feedback/{{course.id}}">Arvostelut</a></td>
    </tr>
    {% endfor %} 
    </table>
    {% endblock %}

</html>
